.title {
  font-size: var(--step-1);
}

.subtitle {
  text-transform: uppercase;
  font-size: var(--smaller);
}

figure {
  width: 100%;
  margin-inline: 0;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 0.938em 2.188em rgba(50, 50, 93, .1), 0 0.313em 0.938em rgba(0, 0, 0, .07);
}

.feature-img {
  aspect-ratio: 3 / 2;
}


.cs-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "image intro";
  gap: var(--space-s);
  align-items: start;

  h3 {
    margin-block: 0;
    grid-area: title;
  }

  img {
    grid-area: image;
    aspect-ratio: 3 / 2;
  }

  .cs-card__intro {
    grid-area: intro;
    font-size: var(--smaller);
  }
}

@media (max-width: 43rem) {
  .cs-card {
    grid-template-areas:
      "title title"
      "image image"
      "intro intro";
  }
}

.meta-card {
  border-radius: 0.25rem;
  color: #183c5c;
  color: oklch(0.35 0.07 248.14);
  background-color: var(--callout);
  padding: var(--space-m);
  font-size: var(--step--1);
}

.titled-list {
  font-size: var(--step--1);
}

.content-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: var(--step--1);
  gap: var(--space-s);

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--bgc);
    display: block;
  }

  a {
    color: var(--bgc);
    text-decoration: none;
    font-weight: 600;

    &:visited {
      color: var(--bgc);
    }

  }
}

.cs-footer {
  margin-block-start: var(--space-2xl);
  padding: var(--space-s);
  background-color: var(--callout);
  border-radius: 0.25rem;
  font-size: var(--step--1);
  color: #183c5c;
  color: oklch(0.35 0.07 248.14);
}

.pagination-nav {
  a {
    text-transform: none;
  }
}

.my-two-up {
  overflow: clip;
}
