{{ define "main" }}
  <section class="case-studies stack stack--large">
    <h2>{{ .Title }}</h2>
    {{ range .RegularPages }}
      <article class="cs-card">
        <h3>
          {{ .Title }}
        </h3>
        <img
          style="view-transition-name: {{ .Title | urlize }}"
          class="radius--small"
          src="{{ .Params.image }}"
          alt="Thumbnail for {{ .Title }} case study."
          width="400"
          height="266.67"
        />
        <div class="cs-card__intro stack stack--small">
          <p>
            {{ .Params.desc }}
          </p>
          <a href="{{ .Permalink }}">View case study</a>
        </div>
      </article>
    {{ end }}
  </section>
{{ end }}
