@charset "UTF-8";
@layer reset {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  /* Remove default margin in favour of better control in authored CSS */
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block: 0;
  }
  body {
    margin: 0;
  }
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role=list],
  ol[role=list] {
    list-style: none;
  }
  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }
  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }
  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }
  /* Make images easier to work with */
  img,
  picture {
    width: 100%;
    display: block;
  }
  img {
    height: auto;
  }
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }
  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }
  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
}
@layer reset {
  @view-transition {
    navigation: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }
    .cs-card figure,
    .feature-img {
      view-transition-name: var(--name);
    }
    .cs-card figure img,
    .feature-img img {
      contain: layout;
    }
  }
  html {
    --bgc: #f4f4f4;
    --fgc: #111;
    --accent: #033397;
    --accent: oklch(0.37 0.17 262.37);
    --body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --root: clamp(max(1em, 20px), 1.2em + 0.5vw, 1.5em);
    --line-height: 1.5;
    --smaller: 0.8em;
    --smallest: 0.5em;
    --line: calc(1rem * var(--line-height));
    --measure: 60ch;
    --gap: 1rem;
    --half-gap: calc(var(--gap) / 2);
    --shim: calc(var(--gap) / 4);
    --half-shim: calc(var(--shim) / 2);
    --spacer: clamp(var(--gap) * 1.5,
        var(--gap) + 4vw,
        min(var(--gap) * 6, 20vmin));
    background-color: var(--bgc);
    color: var(--fgc);
    font-family: var(--body);
    font-size: var(--root);
    line-height: var(--line-height, 1.4);
  }
  body {
    height: 100vh;
  }
}
@layer helpers {
  [class^=stack] > * {
    margin-block: 0;
  }
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .stack > * + * {
    margin-block-start: var(--gap, 1.5rem);
  }
  .stack--small > * + * {
    margin-block-start: var(--shim);
  }
  .stack--large > * + * {
    margin-block-start: calc(var(--gap) * 3);
  }
  .list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
@layer type {
  :is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: 2rem;
    font-weight: 600;
  }
  strong {
    font-weight: 600;
  }
  p,
  li {
    text-wrap: pretty;
    hyphens: auto;
    hyphenate-limit-chars: 10;
  }
}
@layer layout {
  .page {
    max-width: var(--measure);
    padding-inline: var(--gap);
    margin-inline: auto;
  }
  .wrapper {
    margin-inline: auto;
    padding-inline: var(--gap);
    max-width: var(--measure);
  }
  .col-2 {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
  }
  .col-2 > * {
    max-width: 32ch;
  }
  .grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    gap: var(--gap);
  }
  footer {
    margin-block-start: 5rem;
    padding-block-start: 2rem;
    padding-block-end: 4rem;
    background-color: var(--accent);
    color: var(--bgc);
  }
}
@layer theme {
  a {
    color: var(--accent);
    align-self: start;
  }
  a:focus {
    outline: 3px dotted var(--accent);
    outline-offset: 0.125rem;
  }
  .title,
  .subtitle {
    font-weight: 400;
  }
  .title {
    font-size: var(--root);
  }
  .subtitle {
    text-transform: uppercase;
    font-size: var(--smaller);
  }
  figure {
    width: 100%;
    margin-inline: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0.938em 2.188em rgba(50, 50, 93, 0.1), 0 0.313em 0.938em rgba(0, 0, 0, 0.07);
    overflow: hidden;
  }
  .case-studies {
    container-name: cs;
    container-type: inline-size;
  }
  .feature-img img {
    aspect-ratio: 3/2;
  }
  .cs-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title title" "image intro";
    gap: var(--gap);
    align-items: start;
  }
  .cs-card h3 {
    margin-block: 0;
    grid-area: title;
  }
  .cs-card figure {
    grid-area: image;
  }
  .cs-card figure img {
    aspect-ratio: 3/2;
  }
  .cs-card .cs-card__intro {
    grid-area: intro;
    font-size: var(--smaller);
  }
  @media (max-width: 700px) {
    .cs-card {
      grid-template-areas: "title title" "image image" "intro intro";
    }
  }
  .meta-card {
    border-radius: 0.25rem;
    color: #183c5c;
    color: oklch(35% 0.07 248.14deg);
    background-color: rgba(255, 203, 0, 0.2901960784);
    background-color: oklch(87% 0.21 90.68deg / 0.29);
    padding: calc(var(--gap) * 2);
    font-size: var(--smaller);
  }
  header {
    padding-block-start: 5rem;
    padding-block-end: 1rem;
  }
  header h1 {
    margin-block-start: 0;
  }
  nav ul {
    display: flex;
    gap: var(--gap);
  }
  nav li {
    padding-block: 1rem;
  }
  nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--smaller);
    font-weight: 500;
    color: var(--accent);
  }
  nav a::after {
    content: "→";
    color: #666;
  }
  nav a.nav--active {
    color: #666;
  }
  .titled-list {
    font-size: var(--smaller);
  }
  .content-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--smallest);
    gap: var(--gap);
  }
  .content-info svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--bgc);
  }
  .content-info a {
    color: var(--bgc);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
  }
  .content-info a:visited {
    color: var(--bgc);
  }
}

/*# sourceMappingURL=main.css.map */
