header {
  padding-block: var(--space-2xl);

  h1 {
    margin-block-start: 0;
  }
}

.header-nav {
  ul {
    display: flex;
    gap: var(--space-s);
  }

  li {
    padding-block: 1rem;
  }

  a {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: var(--step--1);
    font-weight: 500;
    color: #333;

    &.nav--active {
      color: var(--accent);
      text-decoration: none;
    }
  }
}

.page {
  max-width: var(--measure);
  padding-inline: var(--space-s);
  margin-inline: auto;
  margin-block-end: var(--space-2xl);
  flex: 1;
}

.wrapper {
  margin-inline: auto;
  padding-inline: var(--space-s);
  max-width: var(--measure);
}


.switcher {
  display: flex;
  flex-wrap: wrap;
  /* ↓ The default value is the first point on the modular scale */
  gap: var(--gutter, var(--space-s));
  /* ↓ The width at which the layout “breaks” */
  --threshold: 40ch;
}

.switcher>* {
  /* ↓ Allow children to grow */
  flex-grow: 1;
  /* ↓ Switch the layout at the --threshold */
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

/* Max 2 items,
so anything greater than 2 is full width */
.switcher> :nth-child(n + 3) {
  flex-basis: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: var(--space-s);
}

footer {
  padding-block-start: var(--space-l);
  padding-block-end: var(--space-xl);
  background-color: var(--accent);
  color: var(--bgc);
}
