header {
  padding-block: var(--space-2xl);

  h1 {
    margin-block-start: 0;
  }
}

.header-nav {
  ul {
    display: flex;
    gap: var(--space-s);
  }

  li {
    padding-block: 1rem;
  }

  a {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: var(--step--1);
    font-weight: 500;
    color: #333;

    &.nav--active {
      color: var(--accent);
      text-decoration: none;
    }
  }
}

.page {
  max-width: var(--measure);
  padding-inline: var(--space-s);
  margin-inline: auto;
  margin-block-end: var(--space-2xl);
  flex: 1;
}

.wrapper {
  margin-inline: auto;
  padding-inline: var(--space-s);
  max-width: var(--measure);
}

.col-2 {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-s);

  >* {
    max-width: 32ch;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: var(--space-s);
}

footer {
  padding-block-start: var(--space-l);
  padding-block-end: var(--space-xl);
  background-color: var(--accent);
  color: var(--bgc);
}
