.page {
  max-width: var(--measure);
  padding-inline: var(--gap);
  margin-inline: auto;
}

.wrapper {
  margin-inline: auto;
  padding-inline: var(--gap);
  max-width: var(--measure);
}

.col-2 {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);

  >* {
    max-width: 32ch;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: var(--gap);
}

footer {
  margin-block-start: 5rem;
  padding-block-start: 2rem;
  padding-block-end: 4rem;
  background-color: var(--accent);
  color: var(--bgc);
}
