<footer>
  <div class="wrapper">
    <div class="content-info">
      <div class="stack stack--small">
      <svg
        aria-hidden="true"
        class="logo"
        viewBox="0 0 192 192"
        xmlns="http://www.w3.org/2000/svg"
        stroke-linejoin="round"
        stroke-miterlimit="1.414"
        role="img"
      >
        <title>Visit jasonwhite.us</title>
        <path
          fill="none"
          d="M0 0h192v192H0z"
        />
        <clipPath id="a">
          <path d="M0 0h192v192H0z" />
        </clipPath>
        <path
          d="M0 98.157h94.144v49.818h4.332V.014C150.318 1.336 192 43.834 192 95.991 192 148.98 148.978 192 95.988 192 43.721 192 1.153 150.147 0 98.157zm94.144-4.332H0C1.14 42.448 42.724.971 94.144 0v93.825z"
        />
      </svg>
      <span>
        &copy; {{ now.Year }}
        <a
          target="_blank"
          aria-label="Opens in new tab"
          href="https://jasonwhite.us"
        >
          jasonwhite.us
        </a>
      </span>
    </div>
<ul class="list-reset">
      {{ range .Site.Menus.main }}
        <li>
      {{ if $.IsMenuCurrent .Menu . }}
              <a
                class="nav--active"
                aria-current="page"
                href="{{ .URL }}"
              >
                {{ .Name }}
              </a>
            {{ else }}
        <a href="{{ .URL }}">{{ .Name }} </a></li>
      {{ end }}
      {{ end }}
    </ul>
    </div>
  </div>
</footer>
