@view-transition {
  navigation: none;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

:root {
  --bgc: #f4f4f4;
  --fgc: #111;
  --accent: #033397;
  --accent: oklch(0.37 0.17 262.37);
  --callout: #ffcb004a;
  --callout: oklch(0.87 0.21 90.68 / 0.29);

  // Text sizing and spacing via Utopia (utopia.fyi)

  // Text
  --step--1: clamp(0.9372rem, 0.9013rem + 0.1794vw, 1rem);
  --step-0: clamp(1rem, 0.9286rem + 0.3571vw, 1.125rem);
  --step-1: clamp(1.067rem, 0.9535rem + 0.5675vw, 1.2656rem);
  --step-2: clamp(1.1385rem, 0.9754rem + 0.8153vw, 1.4238rem);
  --step-3: clamp(1.2148rem, 0.9936rem + 1.1058vw, 1.6018rem);
  --step-4: clamp(1.2962rem, 1.0071rem + 1.4454vw, 1.802rem);
  --step-5: clamp(1.383rem, 1.0148rem + 1.8408vw, 2.0273rem);
  --line-height: 1.5;
  --smaller: 0.8rem;
  --smallest: 0.5rem;
  --line: calc(1rem * var(--line-height));
  --measure: 60ch;

  --body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  // Spacing
  --space-3xs: clamp(0.25rem, 0.2143rem + 0.1786vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4643rem + 0.1786vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.6786rem + 0.3571vw, 0.875rem);
  --space-s: clamp(1rem, 0.9286rem + 0.3571vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.3929rem + 0.5357vw, 1.6875rem);
  --space-l: clamp(2rem, 1.8571rem + 0.7143vw, 2.25rem);
  --space-xl: clamp(3rem, 2.7857rem + 1.0714vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.7143rem + 1.4286vw, 4.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.0714rem + 0.8929vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.2857rem + 1.0714vw, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.6071rem + 1.9643vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.0714rem + 2.1429vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.2143rem + 3.9286vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.1429rem + 4.2857vw, 4.5rem);

  --stack-space: clamp(1.5em, 1.3929em + 0.5357vw, 1.6875em);

  --shadow: 0 0.938em 2.188em rgba(50, 50, 93, .1), 0 0.313em 0.938em rgba(0, 0, 0, .07);
  --radius: 0.5rem;
  --radius-sm: 0.25rem;
  --gutter: var(--space-s);
}

html {
  font-family: var(--body);
  font-size: var(--step-1);
  line-height: var(--line-height);
  color: var(--fgc);
  background-color: var(--bgc);
}

body {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

strong {
  font-weight: 600;
}

p,
li {
  text-wrap: pretty;
  hyphens: auto;
  hyphenate-limit-chars: 10;
}


a:focus {
  outline: 3px dotted var(--accent);
  outline-offset: 0.125rem;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
