@mixin light {
  --bgc: #f4f4f4;
  --fgc: #111;
  --accent: #033397;
  --accent: oklch(0.37 0.17 262.37);
  --callout: #ffcb004a;
  --callout: oklch(0.87 0.21 90.68 / 0.29);

}

@mixin props {
  @include light;
}
