@use 'colors';
@use 'fonts';
@use 'sizes';


@view-transition {
  navigation: none;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }

  // .cs-card figure,
  // .feature-img {
  //   view-transition-name: var(--name);
  // }


}

html {
  @include colors.props;
  @include fonts.fonts;
  @include sizes.text;
  @include sizes.space;

  background-color: var(--bgc);
  color: var(--fgc);
  font-family: var(--body);
  font-size: var(--root);
  line-height: var(--line-height, 1.4);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .page {
    flex: 1;
  }
}
