@mixin text {
  --root: clamp(max(1em, 18px), 0.5724rem + 1.7544vw, 1.5rem);
  --line-height: 1.5;
  --smaller: 0.8em;
  --smallest: 0.5em;
  --line: calc(1rem * var(--line-height));
  --measure: 60ch;
}

@mixin space {
  --gap: 1rem;
  --half-gap: calc(var(--gap) / 2);
  --shim: calc(var(--gap) / 4);
  --half-shim: calc(var(--shim) / 2);
  --spacer: clamp(var(--gap) * 1.5,
      var(--gap) + 4vw,
      min(var(--gap) * 6, 20vmin));
}
